@import '~bootstrap/dist/css/bootstrap.min.css';

h1, h2 {
  font-family: Lato;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/*
//
// para login y signUP
//

.form {
  width: 420px;
}
*/

